@font-face{
    font-family: "Montserrat";
    src: url("../res/Montserrat-Regular.ttf");
}

body{
    background-color: #c9f1e9;
}
.text{
    font-family: Montserrat, Geneva, sans-serif;
    text-align: center;
    color: #444444;
}

h1{
    margin: 50px;
    font-size: 42px;
    font-weight: 400;
}
h2{
    margin: 30px;
    font-size: 30px;
    font-weight: 300;
}
h2 strong{
    font-weight: bold;
}
h3 {
    margin:15px;
    font-size: 30px;
    font-weight: 600;
}
p{
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
}

form{
    display: block;
    margin: auto;
    text-align: center;
}
form label{
    font-size: 20px;
    font-weight: 300;
}