img{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
}

a{
    color: #444444;
    cursor: pointer;
    display: block;
    margin: auto;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: #888888;
}

.hint{
    opacity: 0;
    display: none;
    transition: 0.5s;
}